<%= link_to( image_tag('home.png', :class => 'icon'), root_path) %>
<button id="mapToggler" class="button">Which countries are most vulnerable?</button>

<div id="mapid">
</div>

<div id="search">
  <input type="text" class="search" placeholder="Australia">
  <a href="#" id="go" class="button">Search</a>
</div>
