<button id="mapToggler">Which countries are most vulnerable?</button>

<div id="mapid">
</div>

<form id="search">
  <input type="text" class="search" value="Australia" placeholder="australia">
  <a href="#" id="go">Search</a>
</form>
