<p class="saganQuote">
  "There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known."<br><br>
  <span class="quoteName">Carl Sagan</span>
</p>

<span class="scrollToZoom">
  ^ Scroll to zoom ^
</span>

<div id="homeMenu">
  <p>
    Our pale blue dot is rapidly changing around us.
    Overuse of fossil fuels, land use, animal agriculture and deforestation have lead to an increase of temperatures and a degradation of oZone. As global temperatures rise, glaciers and arctic sea ice melt, sea levels rise, vegetation changes and economies suffer.<br><br>
    Some countries are bear greater responsibility for emitting more greenhouse gases, and some countries are more vulnerable to the effects of climate change.
  </p>
  <%= link_to 'see who\'s responsible  > ', emissions_path, :class => 'emissionsLink' %>

</div>
