<p class="saganQuote">
  "There is perhaps no better demonstration of the folly of human conceits than this distant image of our tiny world. To me, it underscores our responsibility to deal more kindly with one another, and to preserve and cherish the pale blue dot, the only home we've ever known."<br><br>
  <span class="quoteName">Carl Sagan</span>
</p>

<span class="scrollToZoom">
  ^ Scroll to zoom ^
</span>

<div id="homeMenu">
  <p>
    Our pale blue dot is rapidly changing around us.


  </p>
  <%= link_to 'who\'s responsible', emissions_path %>

</div>
